<div class="about">
	<h1 class="animated fadeInUp"><span>About</span> Me!</h1>
	<div class="about-container">
		<p id="about-p" class="animated fadeInUp">From drawing comic book characters as a child, designing posters for school clubs, making short films for the fun of it, to my eventual introduction to web development; my love for exploring the extents of creative expression has taught me many valuable skills. Skills that will help <em>you</em> see your business's vision actualized!
		<br><br>
		Currently studying Computer Science in Toronto, Canada, I am in pursuit of new and exciting opportunities to creatively solve the many problems of the world!
		</p>
		<div>
			<h2 id="technical" class="animated fadeInUp">Technical Skills:</h2>
			<ul>
				<li id="skill-1" class="animated bounceInRight">HTML5</li>
				<li id="skill-2" class="animated bounceInRight">CSS3</li> 
				<li id="skill-3" class="animated bounceInRight">JavaScript</li>
				<li id="skill-4" class="animated bounceInRight">Angular</li>
				<li id="skill-5" class="animated bounceInRight">jQuery</li>
				<li id="skill-6" class="animated bounceInRight">PHP</li>
				<li id="skill-7" class="animated bounceInRight">MySQL</li>
				<li id="skill-8" class="animated bounceInRight">Sony Vegas Pro</li>
			</ul>
		</div>
	</div>
</div>

<div id="scroll-down"><img id="down-arrow" class="animated infinite pulse delay-1s increase-opacity" src="./assets/svg/down-arrow.svg"></div>

<div class="showcase">
	<h2><span>Past</span> Projects</h2>
	<div class="showcase-container right decrease-opacity" id="1">
		<div class="showcase-media">
			<img id="grotrend" class="preview-image" src="./assets/images/grotrend-thumbnail.jpg">		
			<div class="overlay">
    			<div class="overlay-text">
    				<strong>Full-stack Developer</strong><br>
    				Roles & Responsiblities:
    				<ul>
    					<li>Front End development with:</li>
    					<li>HTML5, CSS3, JS, jQuery</li>
    					<li>Developed with "mobile-first" principle</li>
    					<li>Provided analytics of website users to custom Google spreadsheets</li>
    					<li>Implemented honey-pot spam prevention system which reduced spam emails by 80%</li>
    				</ul>
    			</div>
  			</div>
		</div>
		<div class="showcase-text right-text" id="text-one">
			<a href="https://www.grotrend.com/" target="_blank">
				<h3><em>Grotrend</em></h3>
			</a>
			<p>A professional management consultant firm needs a professional website</p>
		</div>
	</div>
</div>

<div class="showcase">
	<div class="showcase-container left decrease-opacity" id="2">
		<div class="showcase-text left-text" id="text-two">
			<a href="https://verda.ca/" target="_blank">
				<h3><em>Verda</em></h3>
			</a>
			<p>Collaborated with the lovely folk @ <a class="trident-hover" style="display: inline-block;color: #198C7E;" href="http://www.tridentcreative.ca/" target="_blank">Trident Creative</a> to translate clean elegant design, to responsive web pages</p>
		</div>
		<div class="showcase-media">
			<img id="verda" class="preview-image" src="./assets/images/verda-thumbnail.jpg">
			<div class="overlay">
    			<div class="overlay-text">
    				<strong>Front End Developer</strong><br>
    				Roles & Responsiblities:
    				<ul>
    					<li>Built accurate, working web pages from designs provided by Trident Creative</li>
    					<li>Converted designs into responsive pages accessible on most device screen sizes</li>
    					<li>Worked with InVision Studio to embed prototype app onto the website</li>
    					<li>HTML5, CSS3, JS, jQuery</li>
    				</ul>
    			</div>
  			</div>
		</div>
	</div>
</div>

<div class="showcase">
	<div class="showcase-container right decrease-opacity" id="3">
		<div class="showcase-media">
			<img id="tmac" class="preview-image" src="./assets/images/tmac-thumbnail.jpg">
			<div class="overlay">
    			<div class="overlay-text">
    				<strong>UI Design & Web Development</strong><br>
    				Roles & Responsiblities:
    				<ul>
    					<li>Responsive Front End development:</li>
    					<li>HTML5, CSS3, JS, jQuery</li>
    					<li>Designed friendly & accessible UI:</li>
    					<li>Photoshop/Illustrator</li>
    					<li>Collaborated w/ community to provide UI that best suited their needs</li>
    				</ul>
    			</div>
  			</div>
		</div>
		<div class="showcase-text right-text" id="text-three">
			<a href="https://www.tnmac.ca/" target="_blank">
				<h3><em>TMAC</em></h3>
			</a>
			<p>Envisioning a fresh, yet familiar identity for this growing Toronto non-profit organization</p>
		</div>
	</div>
</div>

<div class="showcase" style="margin-bottom: 100px">
	<div class="showcase-container left decrease-opacity" id="4">
		<div class="showcase-text left-text" id="text-four">
			<a href="https://www.youtube.com/channel/UC93BCz2ALaVgRUDKEZfvuhw" target="_blank">
				<h3><em>Arshad Mohamed- YouTube</em></h3>
			</a>
			<p>Head over to my YouTube channel to have a look at my video production work!</p>
		</div>
		<div class="showcase-media">
			<img src="./assets/videos/youtube-preview.gif" id="preview-video">	
			<div class="overlay">
    			<div class="overlay-text">
    				<strong>Video Production</strong><br>
    				Roles & Responsiblities:
    				<ul>
    					<li>Production</li>
    					<li>Filming</li>
    					<li>Editing (Sony Vegas Pro)</li>
    					<li>Color Correction (Sony Vegas Pro, DaVinci Resolve)</li>
    					<li>Direction and Screenwriting</li>
    				</ul>
    			</div>
  			</div> 		
		</div>
	</div>
</div>

<div id="video-container" class="video-container">
	<img src="./assets/videos/grass.gif" id="background-video" class="decrease-opacity">
	<div id="video-text" class="decrease-opacity">
		<h2>Lets create something <span style="color: #198C7E;">together!</span></h2>
		<a class="animated-link" href="mailto:arshadmohamed22@gmail.com">
			<svg>
				<rect width="200px" height="75px"></rect>
				<text x="50%" y="50%" fill="#FFFFFF" stroke="#FFFFFF" text-anchor="middle"	dominant-baseline="middle">Contact me</text>
			</svg>
		</a>
	</div>
</div>
