<app-navbar></app-navbar>

<section [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</section>
<svg class="gradient" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1543.5px" height="1144.5px" viewBox="-263.5 -344.5 1543.5 1144.5" enable-background="new -263.5 -344.5 1543.5 1144.5"
	 xml:space="preserve">
	 <defs>
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="421.2507" y1="-244.5822" x2="936.5916" y2="1171.3053" 	gradientTransform="matrix(1 0 0 -1 0 801)">
		<stop  offset="0" style="stop-color:#F8F1FF; stop-opacity:0.2"/>
		<stop  offset="0.6527" style="stop-color:#FFFEFF"/>
		<stop  offset="1" style="stop-color:#FFFFFF"/>
	</linearGradient>
	</defs>
	<path fill="url(https://arshad.info/#SVGID_1_)" d="M-253.481,800c0,0-28.746-259.875,706.645-413.5c737.14-153.991,826.328-632,826.328-632L1283.5,800
	l-1469.981,2L-253.481,800z"/>
</svg>
<app-footer></app-footer>